.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.top_bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(8, 5, 34);
}

.top_bar_link{
    padding: 4px 8px;
    color: #333;
}

.nav_list {
    display: flex;
    list-style: none;
}

.nav_item {
    margin: 0 10px;
}

.nav_link{
    text-decoration: none;
    color: #333;
}


.nav_link:hover {
    color: #ff6f61;
}