.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, #7e36d3, #a883f3);
    min-height: 100vh;
    padding: 2rem;
    color: white;
    font-family: "Georgia", serif;
}

.imageWrapper{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    max-height: 300px;
}

.image{
    object-fit: contain;
    filter: drop-shadow(2px 2px 15px rgba(255, 255, 255, 0.795));
}

.textPricing{
    color: black;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.left,
.right {
  flex: 1;
  min-width: 100px; /* Prevents collapsing on narrow screens */
}

.reverse {
  flex-direction: row-reverse;
}

.container {
    /* max-width: 800px; */
    width: 100%;
    text-align: left;
    /* background: rgba(255, 255, 255, 0.05); */
    /* padding: 2rem; */
    /* border-radius: 12px; */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); */
}

.one, .two, .three{
    height: fit-content;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
}

.one{
    padding-left: 30px;
    background: linear-gradient(90deg,rgba(148, 187, 233, 0) 0%, rgb(66, 75, 194) 10%, rgb(69, 34, 165) 100%);
    display: flex;
    justify-content: flex-end;
}

.two{
    background: linear-gradient(-90deg,rgba(148, 187, 233, 0) 0%, rgb(122, 69, 20) 10%, rgb(138, 68, 3) 100%);
}

.three{
    padding-left: 30px;
    background: linear-gradient(90deg,rgba(148, 187, 233, 0) 0%, rgb(111, 178, 255) 10%, rgb(76, 141, 216) 100%);
    display: flex;
    justify-content: flex-end;
}

.imgOne, .imgThree{
    object-position: 15% 0; /* <-- align image to top-left */
}

.imgTwo{
    object-position: 90% 0;
}

.textWrapper{
    max-width: 450px;
}

.customList {
    list-style: none;
    padding-left: 1.2rem;
  }
  
.customList li::before {
    content: "-";
    color: inherit;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

  



.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #fffacd;
}

.subtitle {
    font-size: 2rem;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 0.5rem;
}


.section {
    margin-bottom: 2rem;
    display: flex;
}

.sectionTitle {
    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    color: #000000;
}

.text {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5;
}

.text ul,
.section ul {
    padding-left: 1.5rem;
    margin: 0.5rem 0 1rem 0;
    line-height: 1.6;
}

.text li,
.section li {
    margin-bottom: 0.5rem;
}

.priceList {
    margin-top: 0.5rem;
    font-weight: bold;
    color: #fffacd;
}

.highlight {
    color: #000000;
}

@media screen and (max-width: 768px) {
    .right{
        width: 100%;
    }

    .imgOne, .imgTwo, .imgThree{
        object-position: 50% 50%;
    }

    .main {
        flex-direction: column;
    }

    .reverse {
        flex-direction: column;
    }

    .imageWrapper{
        max-height: 300px;
    }

    .title {
        font-size: 2rem;
    }

    .section{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .sectionTitle {
        font-size: 1.2rem;
    }
    
}