.baby3dBody{
  background: linear-gradient(
    17deg,
    rgba(155, 137, 177, 1) 0%,
    rgba(136, 132, 174, 1) 12%,
    rgba(108, 147, 182, 1) 53%,
    rgba(89, 142, 178, 1) 100%
  );
}


.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;

}

.card_container {
  display: flex; /* Use Flexbox for side-by-side layout */
  justify-content: space-between; /* Add space between the two elements */
  align-items: flex-start; /* Align items at the top */
  gap: 20px; /* Optional: Add spacing between the elements */
}

.card_image_wrapper {
  height: 817px;
  width: 480px;
  margin: auto;
  position: relative;
  flex: 0 0 auto; /* Prevent the second child from growing or shrinking */
  transform-origin: center; /* Scale from the center */
  transition: transform 0.3s ease;
}

.choice{
  flex: 1; /* Allow the first child to take as much space as possible */
  width: auto; /* Width adjusts based on content */
}

.card_image_base {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  object-fit: contain; /* Ensure the image fits within its container while maintaining aspect ratio */
  z-index: -1;
}

.card_image_figure {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  /* Ensure the image fits within its container while maintaining aspect ratio */
  object-fit: contain; 
  z-index: 3;
}

.name_wrapper_b3{
  bottom: 163px; /* Position 10px from the bottom */
  right: 32px; /* Position 10px from the left */

  color: white; /* Text color */
  font-size: 13px;
  text-shadow: -1px 1px 0px rgb(110, 110, 110), -2px 2px 0px rgb(110, 110, 110),
    -3px 3px 0px rgb(0, 0, 0), -4px 4px 0px rgb(0, 0, 0),
    -5px 5px 0px rgb(0, 0, 0), -6px 6px 0px rgb(0, 0, 0);
    z-index: 5;

    width: 140px;
    height: 30px;
}

.name_wrapper_b1{
    bottom: 44px; /* Position 10px from the top */
    right: 20px; /* Position 10px from the right */
  
    color: rgb(150, 150, 150);
    font-size: 20px;
    font-weight: 30;
  
    text-shadow: 1px -1px 0px rgb(222, 222, 222),
    -1px 1px 0px rgb(151, 151, 151), -2px 2px 0px rgb(0, 0, 0),
    -3px 3px 0px rgb(0, 0, 0), -4px 4px 0px rgb(0, 0, 0);

    width: 310px;
    height: 30px;

    font-style: italic;
}

.name_wrapper_b2{
  display: none;
  visibility: hidden;
  opacity: 0;
}

.name_wrapper {
  text-align: center;
  transform: translate(-50%, -50%);
  position: absolute; /* Position relative to the parent */


  transform-origin: center; /* Set the origin to the center of the div */
  transform: rotate(-10deg); /* Rotate the text counterclockwise by 5 degrees */


  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: rgba(240, 248, 255, 0.458); */
  z-index: 5;
}

.week_wrapper_b3{
  color: white;
  bottom: 87px; /* Position 10px from the bottom */
  right: 32px; /* Position 10px from the left */
  font-size: 40px;
  font-weight: 30;

  text-shadow: -1px 1px 0px rgb(110, 110, 110), -2px 2px 0px rgb(110, 110, 110),
  -3px 3px 0px rgb(110, 110, 110), -4px 4px 0px rgb(0, 0, 0),
  -5px 5px 0px rgb(0, 0, 0), -6px 6px 0px rgb(0, 0, 0),
  -7px 7px 0px rgb(0, 0, 0), -8px 8px 0px rgb(0, 0, 0);
  width: 310px;
  height: 50px;
}

.week_wrapper_b2{
  display: none;
  visibility: hidden;
  opacity: 0;
}

.week_wrapper_b1{
  color: rgb(150, 150, 150);
  bottom: 72px; /* Position 10px from the bottom */
  right: 32px; /* Position 10px from the left */
  font-size: 30px;
  font-weight: 30;
  font-style: italic;

  text-shadow: 1px -1px 0px rgb(222, 222, 222),
  -1px 1px 0px rgb(151, 151, 151), -2px 2px 0px rgb(0, 0, 0),
  -3px 3px 0px rgb(0, 0, 0), -4px 4px 0px rgb(0, 0, 0);
  width: 310px;
  height: 50px;
  z-index: 5;
}

.week_wrapper {
  text-align: center;
  transform: translate(-50%, -50%);

  position: absolute; /* Position relative to the parent */

  /* background-color: rgba(0, 0, 0, 0.5); */
  transform: rotate(-10deg); /* Rotate the text counterclockwise by 5 degrees */
  transform-origin: center; /* Set the origin to the center of the div */

  /* background-color: rgba(240, 248, 255, 0.458); */


  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.dob_wrapper_b3{
  bottom: 52px; /* Position 10px from the top */
  right: 7px; /* Position 10px from the right */

  font-size: 25px;
  font-weight: 30;
  color: white;
  text-shadow: -1px 1px 0px rgb(110, 110, 110), -2px 2px 0px rgb(110, 110, 110),
    -3px 3px 0px rgb(110, 110, 110), -4px 4px 0px rgb(0, 0, 0),
    -5px 5px 0px rgb(0, 0, 0), -6px 6px 0px rgb(0, 0, 0),
    -7px 7px 0px rgb(0, 0, 0);
    z-index: 5;  
}

.dob_wrapper_b2{
  display: none;
  visibility: hidden;
  opacity: 0;
}

.dob_wrapper_b1{
  bottom: 52px; /* Position 10px from the top */
  right: 7px; /* Position 10px from the right */

  color: rgb(150, 150, 150);
  font-size: 30px;
  font-weight: 30;

  text-shadow: 1px -1px 0px rgb(222, 222, 222),
  -1px 1px 0px rgb(151, 151, 151), -2px 2px 0px rgb(0, 0, 0),
  -3px 3px 0px rgb(0, 0, 0), -4px 4px 0px rgb(0, 0, 0);
}

.dob_wrapper {
  text-align: center;
  transform: translate(-50%, -50%);

  position: absolute; /* Position relative to the parent */


  transform: rotate(-10deg); /* Rotate the text counterclockwise by 5 degrees */
  transform-origin: center; /* Set the origin to the center of the div */

  /* background-color: rgba(240, 248, 255, 0.458); */
  width: 310px;
  height: 30px;
  z-index: 5;
}


.bar{
    transform: translate(-50%, -50%);
  
    position: absolute; /* Position relative to the parent */
    bottom: 84px; /* Position 10px from the top */
    right: 105px; /* Position 10px from the right */
  
    /* background-color: rgba(0, 0, 0, 0.5); */
    transform: rotate(-10.5deg); /* Rotate the text counterclockwise by 5 degrees */
    transform-origin: center; /* Set the origin to the center of the div */
  
    background-color: rgb(240, 248, 255);
    width: 129px;
    height: 2px;
    z-index: 5;
    border-radius: 15px;

    box-shadow: -1px 1px 1px black;
}

.base_polygon_front, .base_polygon_side, .base_polygon_top, .base_polygon_topS, .base_polygon_topL, .base_polygon_topT, .base_part {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
}

.product_form{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input_group {
    display: flex; /* Use Flexbox to align items side by side */
    align-items: center; /* Vertically align the label and input */
    gap: 10px; /* Add spacing between the label and input */
    margin-bottom: 10px; /* Add spacing between input groups */
  }

  .product_input {
    flex: 1; /* Allow the input to take up the remaining space */
    max-width: 300px; /* Optional: Limit the maximum width of the input */
    padding: 5px; /* Add padding for better appearance */
  }

.styles.product_input_label{
    flex: 0 0 100px; /* Set a fixed width for the label */
    text-align: right; /* Align the label text to the right */
}

.image_selector, .color_selection {
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    
    gap: 10px; /* Add spacing between buttons */
    margin-top: 10px;
  }
  
  .color_button {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Make the buttons circular */
    cursor: pointer;
    border: none;
    outline: none;
    transition: transform 0.2s ease;
  }
  
  .color_button:hover {
    transform: scale(1.1); /* Slightly enlarge the button on hover */
  }
  
  .color_button:focus {
    outline: 2px solid black; /* Add focus outline for accessibility */
  }


  .image_selector {
    display: flex;
    gap: 10px; /* Add spacing between buttons */
    margin-bottom: 20px;
  }
  
  .image_selector_btn {
    padding: 10px 20px;
    background-color: #1b5190;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .image_selector_btn:hover {
    background-color: #005bb5;
  }

/* Media query for small screens */
@media (max-width: 768px) {

  /* .card_image_wrapper {
    transform: scale(0.3);
  } */

  .card_container{
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items */
  }

  .card_image_wrapper {
    order: 1; /* Move the first child to the bottom */
  }

  .choice {
    order: 2; /* Move the second child to the top */
  }


  /* .week_wrapper_b1{
    bottom: 43px;
    right: 18px;
    font-size: 17px;
    font-weight: 30;
  
    width: 155px;
    height: 18px;
  } */
/* 
  .name_wrapper_b3 {
    bottom: 89px;
    right: 18px;
    width: 85px;
    height: 15px;
    font-size: 6px;
    text-shadow: 
    -1px 1px 0px rgb(110, 110, 110), 
    -2px 2px 1px rgb(110, 110, 110),
    -3px 3px 1px rgb(0, 0, 0),
    -4px 4px 1px rgb(0, 0, 0);
    z-index: 4;
  } */
/* 
  .name_wrapper_b1{
    bottom: 20px;
    right: 18px;
    font-size: 11px;

    width: 150px;
    height: 18px;
} */

  /* .week_wrapper_b3 {
    bottom: 42px;
    right: 13px;

    width: 170px;
    height: 40px;
    font-size: 20px;
    text-shadow: 
    -1px 1px 0px rgb(110, 110, 110), 
    -2px 2px 1px rgb(110, 110, 110),
    -3px 3px 1px rgb(110, 110, 110),
    -4px 4px 1px rgb(0, 0, 0),
    -5px 5px 1px rgb(0, 0, 0),
     -6px 6px 1px rgb(0, 0, 0),
  } */

  /* .dob_wrapper_b3 {
    bottom: 16px;
    right: 7px;

    width: 170px;
    height: 25px;

    font-size: 12px;
    text-shadow: 
    -1px 1px 0px rgb(110, 110, 110), 
    -2px 2px 1px rgb(110, 110, 110),
    -3px 3px 1px rgb(0, 0, 0),
    -4px 4px 1px rgb(0, 0, 0);
  } */


/* .bar{
    transform: translate(-50%, -50%);
    position: absolute;
    bottom: 43px; 
    right: 60px;
    transform: rotate(-10.5deg);
    transform-origin: center;
    background-color: rgba(240, 248, 255, 0.608);
    width: 75px;
    height: 1px;
    border-radius: 15px;
    box-shadow: -1px 1px 1px black;
} */
}


@media (max-width: 400px) {
.input_group {
    flex-direction: column;
  }
}