.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-geist-sans);

  max-width: 90%;
  padding-top: 40px;
  margin: auto;
}

.main {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Horizontally center the cards */
  align-items: center; /* Vertically center the cards */
  gap: 20px;
}

.slideshow{
  width:100%;
  text-align: center; /* Optional: Center-align the text */
}

.slide{
  width: 100%;
  height: auto;
}


.title{

  margin: 50px 0;

  text-align: center;

  .mainheading{
    font-size: xxx-large
  }

  .subheading{
    padding: 20px 0;
    font-size: medium;
    width: 800px;
  }

  .buttongroup{
    display: flex;
    justify-content: center;
    gap: 30px;

    button{
      font-size: large;
      background-color: rgba(40, 112, 170, 0.836);
      border-radius: 10px;
      padding: 5px 10px;
    }
  }
}