.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-geist-sans);

  max-width: 90%;
  padding-top: 40px;
  margin: auto;
}

.main {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Horizontally center the cards */
  align-items: center; /* Vertically center the cards */
  gap: 20px;
}

.card {
  background-color: rgba(8, 8, 8, 0.26);
  box-shadow: 
  inset 4px 4px 10px 0 rgba(169, 175, 255, 0.37),
  4px 4px 10px 0 rgba(5, 5, 5, 0.657);
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 20px;
  border-radius: 10px;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slideshow{
  width:100%;
  text-align: center; /* Optional: Center-align the text */
}

.slide{
  width: 100%;
  height: auto;
}
